*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(237, 134, 16, 0.211);
   
}
/* nav style */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
/* nav name and logo */

.logo{
    font-weight: 750;
    font-size: 35px;
}
.nav-list ul{
    display: flex;
    gap: 75px;
    
}
.nav-list ul li{
    list-style: none;
}
.nav-list ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: #363535dc;;
}
/* banner */
.company-details{
    display: flex;
    row-gap: 33px;
    justify-content: center;
    text-align: center;
}
.detail-box{
    width: 862px;
    margin-top: 102px;
    
}
.detail-box h1{
    font-weight: 700;
    font-size: 65px;
    color: #141313d1;
}
.details-box p{
    font-weight: 400;
    font-size: 18px;
    color: #686767f1;
    margin: 33px 0px 30px 0px;
}
/* explore work -btn */
.work-btn{
    padding: 20px 25px;
    
    border: none;
    background: #f1860bf4;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
.work-btn a{
    text-decoration: none;
    color: #fffffff5;
}
/* banner-image */

.banner-img{
    display: flex;
    justify-content: center;
}
.banner-img img{
    margin: 50px 0px 50px 0px;
}
/* quick-list */

.quick-list{
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    
}
.quick-list-img{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2,1fr);
}
.quick-list-container{
    width: 540px;
}
.quick-list-container h1{
    font-weight: 500;
    font-size: 45px;
    color: #676666e2;
    margin-bottom: 10px;
}
.quick-list-container h1 strong{
    color: #0f0f0fee;
}
.quick-list-container h1 span{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.quick-list-container p{
    font-weight: 400;
    font-size: 15px;
    color: #676666e2;
    margin-bottom: 10px;
}
/* facility-details */
.facilitys{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.convenience{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 145px;
    width: 1442px;
}

.facility-details h1{
    border-left: 5px solid #FF900E;
    width: 470px;
    font-weight: 700;
    font-size: 45px;
    padding-left: 23px;
}
.facility-details p{

    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 25px 0px 30px 0px;
}

.facility{
    width: 585px;
    height: 170px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.facility h2{
    font-weight: 600;
    font-size: 20px;
    padding: 33px 0px 0px 30px;
}
.facility p{
    padding: 10px 0px 0px 30px;
    width: 514px;
    height: 111px;
}
.experience-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.explore-experience-btn{
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
}
.explore-experience-btn h1{
    font-weight: 700;
font-size: 65px;
color: #FFFFFF;
}

.explore-experience-btn p{
    font-weight: 500;
font-size: 25px;
color: #FFFFFF;
}
.btn-content{
    padding: 46px;
}
.btn-content a{
    text-decoration: none;
}
 /* facts and container */
.achievement-container{
    display: flex;
    justify-content: center;
    margin-top: 135px;
}
.company-facts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1442px;
}
.facts h1{
    font-weight: 700;
    font-size: 45px;
}
.facts p{
    margin-top: 24px;
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.achievement{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}
.achievement-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 241.83px;
    height: 241.83px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
 /* footer style */
footer{
    display: flex;
    justify-content: center;
}
.footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    margin: 110px 0px;
}

.footer p{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    padding: 40px 410px;
}
